<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <servlet-class>com.servlet.UserRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVerifiedUserServlet</servlet-name>
        <servlet-class>com.servlet.GetVerifiedUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.servlet.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>com.servlet.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.servlet.admin.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <servlet-class>com.servlet.admin.AdminLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBookAddServlet</servlet-name>
        <servlet-class>com.servlet.admin.AdminBookAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteBookServlet</servlet-name>
        <servlet-class>com.servlet.admin.AdminDeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBookEditServlet</servlet-name>
        <servlet-class>com.servlet.admin.AdminBookEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotOTPServlet</servlet-name>
        <servlet-class>com.servlet.ForgotOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddCartServlet</servlet-name>
        <servlet-class>com.servlet.UserAddCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTotalCartServlet</servlet-name>
        <servlet-class>com.servlet.UserTotalCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.servlet.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>com.servlet.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingAddressServlet</servlet-name>
        <servlet-class>com.servlet.ShippingAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteCartServlet</servlet-name>
        <servlet-class>com.servlet.UserDeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserConfirmOrderServlet</servlet-name>
        <servlet-class>com.servlet.UserConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveredOrderServlet</servlet-name>
        <servlet-class>com.servlet.admin.DeliveredOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegistrationServlet</servlet-name>
        <url-pattern>/UserRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVerifiedUserServlet</servlet-name>
        <url-pattern>/GetVerifiedUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/UserLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutServlet</servlet-name>
        <url-pattern>/AdminLogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBookAddServlet</servlet-name>
        <url-pattern>/AdminBookAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteBookServlet</servlet-name>
        <url-pattern>/AdminDeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBookEditServlet</servlet-name>
        <url-pattern>/AdminBookEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotOTPServlet</servlet-name>
        <url-pattern>/ForgotOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddCartServlet</servlet-name>
        <url-pattern>/UserAddCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTotalCartServlet</servlet-name>
        <url-pattern>/UserTotalCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingAddressServlet</servlet-name>
        <url-pattern>/ShippingAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteCartServlet</servlet-name>
        <url-pattern>/UserDeleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserConfirmOrderServlet</servlet-name>
        <url-pattern>/UserConfirmOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveredOrderServlet</servlet-name>
        <url-pattern>/DeliveredOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
